*{
  font-family: sans-serif;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

/* Hide scrollbar for Webkit browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}



.texti {
  color: rgba(37, 34, 34, 0.774);
}
